@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
}

a {
    text-decoration: none !important;
}

:root {
    --main-color: #ff0029;
    --sub-color: #fdd400;
    --third-color: black;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: var(--main-color);
}
/*top header style*/
header {
    background: url("../image/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 999;
}

.top-haeder {
    padding: 10px 0px;
    background: linear-gradient(180deg, black 10%, transparent);
    border-bottom: 1px solid #313131;
}

.top-header-left .currency a,
.top-header-left .language a {
    outline: none;
    background: transparent;
    color: var(--sub-color);
    border: none;
    font-size: 13px;
}

.top-header-left .currency .option-menu,
.language .option-menu {
    background-color: var(--sub-color);
    width: 100%;
    clip-path: polygon(100% 100%, 0 100%, 0 10%, 44% 10%, 50% 0, 56% 10%, 100% 10%);
    padding-top: 11px;
    transform: translate(0px, 25px);
    opacity: 0;
    display: none;
}

.top-header-left .currency .option-menu li a,
.language .option-menu li a {
    color: black;
    font-size: 13px;
}

.top-header-left .currency .option-menu li,
.language .option-menu li {
    background-color: var(--sub-color);
    text-align: center;
    padding: 5px 10px;
    transition: .3s;
    cursor: pointer;
}

.top-header-left .currency .option-menu li:hover,
.language .option-menu li:hover {
    background-color: black;
    transition: .3s;
}

.top-header-left .currency .option-menu li:hover a,
.language .option-menu li:hover a {
    transition: .3s;
    color: var(--sub-color);

}

.top-header-left .currency .option-menu li a,
.language .option-menu li a {
    color: black;
}

.top-header-left .currency>a,
.language>a {
    font-size: 13px;
    display: flex;
    color: var(--sub-color);
    width: 100px;
    justify-content: space-between;
}

.language>a {
    width: 80px;
}

.top-header-left .currency>a span:nth-child(2),
.language>a span:nth-child(2) {
    display: block;
    margin-top: 2px;
}

.top-header-left .currency,
.top-header-left .language {
    position: relative;
}

.top-header-left .currency:hover .option-menu,
.language:hover .option-menu {
    animation: fade-up .5s ease-in-out forwards alternate;
    display: block;
}

@keyframes fade-up {
    0% {
        transform: translate(0px, 25px);
        opacity: 0;

    }

    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

.top-header-left .currency .option,
.language .option {
    width: 150px;
    position: absolute;
    z-index: 9;
}

.top-header-right ul.user_option li a {
    color: var(--sub-color);
    font-size: 14px;
    transition: .3s;
}

.top-header-right ul.user_option li a:hover {
    color: var(--main-color);
    transition: .3s;
}

/*header style*/
.main-header .main-header-wrapper .logo a h3 {
    font-size: 45px;
    color: var(--main-color);
    margin-bottom: 0;
}

.main-header {
    padding: 10px 0px;
    border-bottom: 1px solid #313131;
}

.header_left .search-bar form.search-bar-form {
    position: relative;
    width: 300px;
    height: 45px;
}

.header_left .search-bar form.search-bar-form input {
    outline: none;
    border: 1px solid var(--sub-color);
    padding: 0px 15px;
    background: transparent;
    font-size: 14px;
    width: 100%;
    height: 100%;
    color: var(--main-color);
    border-radius: 3px;
}

.header_left .search-bar form.search-bar-form input::placeholder {
    color: var(--main-color);
}

.header_left .search-bar form.search-bar-form button {
    position: absolute;
    outline: none;
    height: 100%;
    width: 45px;
    border: navajowhite;
    right: 0;
    background: var(--sub-color);
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
    transition: .3s;
}

.header_left .search-bar form.search-bar-form button:hover {
    color: var(--main-color);
    background: var(--sub-color);
    transition: .3s;
}

.header_left .shopping_option ul li a {
    width: 40px;
    height: 100%;
    display: block;
}

.header_left .shopping_option ul {
    height: 40px;
}

.header_left .shopping_option ul {
    height: 45px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.header_left .shopping_option ul li a {
    width: 45px;
    display: block;
    display: grid;
    place-items: center;
    border: 1px solid var(--sub-color);
    height: 45px;
    color: var(--sub-color);
    border-radius: 3px;
    transition: .3s;
    font-size: 14px;
}

.header_left .shopping_option ul li a:hover {
    color: var(--main-color);
    transition: .3s;
    background: var(--sub-color);
}

.header_left .shopping_option ul li:last-child .shop_div2 a {
    background: transparent;
    border: none;
    width: 80px;
}

.header_left .shopping_option ul li:last-child a:hover .shopping_option ul li:nth-child(2) .shop_div a {
    background: var(--sub-color);
    color: var(--main-color);
    transition: .3s;
}

.header_left .shopping_option ul li:nth-child(2) .shop_div a:before {
    content: "0";
    position: absolute;
    width: 25px;
    display: grid;
    height: 25px;
    background: var(--sub-color);
    border-radius: 3px;
    color: var(--main-color);
    place-items: center;
    font-size: 14px;
    left: -13px;
    transition: .3s;
}

.header_left .shopping_option ul li:nth-child(2) a {
    position: relative;
}

.header_left .shopping_option ul li:nth-child(2) .shop_div:hover a:before {
    background: var(--main-color);
    color: var(--sub-color);
}

.header_left .shopping_option ul li:nth-child(2) .shooping_overview .shopping_wrapper {
    width: 500px;
    height: 200px;
    background: #363636;
    color: var(--sub-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    clip-path: polygon(0 97%, 0 7%, 89% 7%, 92% 0, 95% 7%, 100% 7%, 100% 100%);
}

.header_left .shopping_option ul li:nth-child(2) .shooping_overview {
    position: absolute;
    right: 0;
    display: none;
    transform: translate(0px, 20px);
    padding: 10px;
    padding-right: 0;
    padding-top: 5px;
    z-index: 99;
}

.header_left .shopping_option ul li:nth-child(2) {
    position: relative;
}

.header_left .shopping_option ul li:nth-child(2):hover .shooping_overview {
    display: block;
    animation: fade_shop .8s ease-in-out forwards alternate;
}

@keyframes fade_shop {
    0% {
        transform: translate(0px, 20px);
        opacity: 0;

    }

    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

ul#desktop_menu .nav-item {
    margin-right: 10px;
}

ul#desktop_menu {
    padding: 10px 0px;
    flex-direction: row;
    gap: 20px;
    color: white;
    font-size: 14px;
    align-items: center;
}

.nav-link {
    color: var(--main-color) !important;
    font-size: 15px;
    font-weight: 600 !important;
}

.cart_product .single_product.d-flex .cart_img {
    width: 110px;
    height: 110px;
    margin-right: 10px;
    border-radius: 100%;
    border: 2px solid var(--main-color);
    overflow: hidden;
    background: white;
}

.cart_product .single_product.d-flex .cart_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div#offcanvasRight {
    background-color: black;
    color: var(--sub-color);
    min-height: 100vh;
}

.cart_info h3 a {
    color: var(--main-color);
    font-size: 22px;
    margin-bottom: 5px;
    transition: .3s;
}

.cart_info h3 a:hover {
    color: var(--sub-color);
    transition: .3s;
}

.cart_info .cart_product_price {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.cart_info .cart_button span {
    font-size: 12px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: var(--sub-color);
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cart_info .cart_button input::-webkit-inner-spin-button,
.cart_info .cart_button input::-webkit-outer-spin-button {
    appearance: none;
}

.cart_info .cart_button input {
    width: 50px;
    background: var(--main-color);
    outline: none;
    border: none;
    text-align: center;
    color: var(--sub-color);
    height: 35px;
    border-radius: 50%;
    font-size: 16px;
    padding: 0px 10px;
}

.cart_info .cart_star {
    font-size: 11px;
    align-items: center;
    margin-bottom: 5px;
}

.cart_info .cart_star .review_count {
    margin-left: 5px;
}

.cart_info .cart_star {
    font-size: 11px;
    align-items: center;
    margin-bottom: 5px;
}

.cart_info .cart_star .review_count {
    margin-left: 5px;
}

.offcanvas-header>button {
    background: var(--sub-color) !important;
    opacity: 1;
    color: var(--main-color) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    transition: .3s;
}

.offcanvas-header>button:hover {
    transition: .3s;
    background: var(--main-color) !important;
    color: var(--sub-color) !important;
    opacity: 1;
}

.cart_view {
    padding: 15px 0px;
    border-top: 1px solid var(--sub-color);
}

.cart_product {
    padding: 20px 0px;
}

.cart_view .cart_count h3 {
    margin-bottom: 0;
    font-size: 22px;
}

.cart_view .cart_count .cart_total {
    font-size: 16px;
    font-weight: 500;
}

.cart_view .cart_view_button {
    margin-top: 15px;
}

.cart_view .cart_view_button a {
    padding: 12px 35px;
    background: var(--sub-color);
    color: var(--main-color);
    border-radius: 50px;
    font-size: 16px;
}

.cart_view .cart_view_button a:hover {
    background: var(--main-color);
    color: var(--sub-color);
    transition: .3s;
}

.cart_view .cart_view_button a:last-child:hover {
    background: var(--sub-color);
    color: var(--main-color);
    transition: .3s;
}

.cart_view .cart_view_button a:last-child {
    background: var(--main-color);
    color: var(--sub-color);
    transition: .3s;
}

ul#desktop_menu li>button {
    height: 45px;
    border: none;
    outline: none;
    width: 45px;
    font-size: 14px;
    background: black;
    color: var(--sub-color);
    border: 1px solid var(--sub-color);
    border-radius: 3px;
}

ul#desktop_menu li>button:hover {
    background: var(--sub-color);
    color: var(--main-color);
    transition: .3s;
}

/*hero section*/

.single_hero_slider .slider_title h2 {
    font-size: 50px;
    color: black;
    font-weight: 600;
}

.single_hero_slider .slider_info p {
    font-size: 15px;
    line-height: 1.5rem;
    color: black;
}

.single_hero_slider .slider_button a {
    font-size: 18px;
    background-color: var(--main-color);
    color: var(--sub-color);
    padding: 12px 35px;
    border-radius: 50px;
    transition: .3s;
}

.slider_content .slider_button {
    margin-top: 37px;
    display: flex;
}

.single_hero_slider .slider_button a:hover {
    background-color: var(--third-color);
}

.hero_section_wrapper .single_hero_slider {
    padding: 15px 50px;
}

section#hero_section {
    background: var(--sub-color);
    position: relative;
}
section#hero_section .side_option{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%,-50%);
    z-index: 99;
    margin-right: 5px;
}
.side_option .single_option{ 
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    color: var(--sub-color);
    display: grid;
    place-items: center;
    border-bottom: 1px solid var(--sub-color);
    border-radius: 5px;
    transition: .3s;
}
.side_option .single_option:hover {
    background-color: var(--third-color);
    transition: .3s;
}
.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 35px;
    font-weight: 600;
    color: black;
}

.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    background: var(--main-color) !important;
}

.cart_product .single_product {
    position: relative;
}

.single_product .product_delete {
    background: var(--main-color);
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    border-radius: 100%;
    display: grid;
    place-items: center;
    font-size: 10px;
    cursor: pointer;
    transition: .3s;
}

.single_product .product_delete:hover {
    outline: 1px solid var(--sub-color);
    transition: .3s;
}

.category .cateogry_img {
    width: 45px;
    height: 45px;
    background: var(--main-color);
    border-radius: 100%;
    overflow: hidden;
}

.category .cateogry_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.category h3 {
    font-size: 13px;
    margin-top: 15px;
    text-align: center;
}

.hero_section_wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.hero_section_wrapper .swiper.mySwiper {
    position: absolute;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 0;
    transform: translate(0%, 210%);
    margin-left: 30px;
}

.hero_section_wrapper .swiper.mySwiper2 {
    width: 100%;
}

.category {
    cursor: pointer;
}

.swiper-pagination {
    text-align: right !important;
    bottom: 40px !important;
}

.mySwiper2 .swiper-wrapper {
    padding: 40px 0px;
    display: flex;
    align-items: center;
}

.offcanvas-body::-webkit-scrollbar {
    width: 5px;
}

.offcanvas-body::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 50px;


}

header.sticky_animation {
    position: sticky;
    top: 0;
    transform: translate(0px, 20px);
    animation: sticky_anim 1s alternate forwards ease-in-out;
}

@keyframes sticky_anim {
    0% {
        transform: translate(0px, -110px);
        opacity: 0;
    }

    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

section#hashTag_section {
    padding: 50px;
    background: var(--third-color);
}

#hashTag_section .hashTag_section_wrapper .tags_title h3 {
    color: var(--sub-color);
    font-size: 25px;
    margin-bottom: 30px;
}

.tags_container a.single_tag {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    padding: 20px 0px;
    color: var(--sub-color);
    border-radius: 10px;
}

.swiper-button-prev2::after,
.swiper-button-next2::after {
    color: var(--sub-color);
    font-size: 12px !important;
}

.swiper-button-prev2,
.swiper-button-next2 {
    width: 25px !important;
    height: 25px !important;
    display: grid !important;
    place-items: center;
    background-color: #363636;
    position: unset !important;
    border-radius: 100%;
}

.mySwiper3 .swiper-slide:nth-child(even) a {
    background-color: var(--sub-color);
    color: var(--main-color);
}

/*small screen searchBar Style*/
.search_bar {
    background: black;
    color: white;
    height: 100vh;
    width: 100%;
    overflow: auto;
    position: fixed;
    z-index: 999;
    transform: translate(0px, -100%);
    
   
}

.search_bar .search_bar_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
}

.search_bar .search_bar_wrapper .search_bar_header h1 {
    text-align: center;
    font-size: 35px;
    color: var(--sub-color);
}

.search_bar .search_bar_wrapper .search_bar_header p {
    text-align: center;
    color: var(--main-color);
}

.search_bar .search_bar_wrapper .search_bar_body {
    width: 80%;
}

.search_bar .search_bar_wrapper .search_bar_body .search_bar_input {
    position: relative;
    height: 40px;
    overflow: hidden;
    border-radius: 5px;
}

.search_bar .search_bar_wrapper .search_bar_body .search_bar_input input {
    position: absolute;
    width: 100%;
    outline: none;
    border: 1px solid transparent;
    padding: 0px 50px;
    padding-right: 150px;
    font-size: 14px;
    height: 100%;
    border-radius: 5px;
}

.search_bar .search_bar_wrapper .search_bar_body .search_bar_input>span {
    display: block;
    width: 40px;
    height: 100%;
    background: transparent;
    z-index: 9;
    display: grid;
    place-items: center;
    color: #999;
}

.search_bar .search_bar_wrapper .search_bar_body .search_bar_input .search_btn {
    height: 100%;
    z-index: 9;
}

.search_bar .search_bar_wrapper .search_bar_body .search_bar_input .search_btn select.filter {
    outline: none;
    border: 1px solid transparent;
    height: 40px;
    width: 90px;
    cursor: pointer;
}

.search_bar .search_bar_wrapper .search_bar_body .search_bar_input .search_btn a {
    width: 40px;
    height: 100%;
    display: grid;
    place-items: center;
    color: var(--main-color);
    background: var(--sub-color);
    margin-left: 5px;
}

.search_bar .search_bar_wrapper .search_bar_body .search_bar_input .search_btn .search_option>span {
    color: var(--main-color);
    display: grid;
    place-items: center;
    margin-right: 5px;
}

.search_suggestion {
    margin-top: 30px;
    background: var(--main-color);
    padding: 20px 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: translate(0px, 70px);
    visibility: hidden;
}

@keyframes fade_top {
    0%{
        opacity: 0;
        visibility: hidden;
        transform: translate(0px, 70px);
    }
    100%{
        visibility: visible;
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.search_suggestion .single_item {
    width: 100%;
    border-bottom: 1px solid var(--sub-color);
    padding: 4px 0px;
    background: var(--main-color);
}

.search_suggestion .single_item .item_img {
    width: 15%;
    height: 40px;
    overflow: hidden;
}

.search_suggestion .single_item h3 {
    font-size: 16px;
    margin-bottom: 0px;
}
.search_suggestion .single_item{
    color: var(--sub-color);
}
.search_suggestion .single_item .item_img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.search_suggestion li:first-child .single_item{
    border-top: 1px solid var(--sub-color);
}
.search_bar_wrapper .search_close{
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 15px;
    border-radius: 100%;
    display: grid;
    place-items: center;
    background-color: var(--main-color);
    color: var(--sub-color);
    top: 30px;
    right: 30px;
    cursor: pointer;
}
.search_icon {
    color: var(--sub-color);
    width: 45px;
    height: 45px;
    display: grid;
    place-items: center;
    background: transparent;
    border: 1px solid var(--sub-color);
    border-radius: 5px;
    cursor: pointer;
}
@keyframes show_searchbar {
    0%{ 
        display: none;
        transform: translate(0px, -100%);
        opacity: 0;
    }
    100%{
        display: block;
        opacity: 1;
        transform: translate(0px, 0px);
    }
}
@keyframes fade_down {
    0%{  
        opacity: 1;
        transform: translate(0px, 0px);
    }
    100%{
        transform: translate(0px, -100%);
        opacity: 0;
    }
    
}






/*responsive codes*/
@media only screen and (max-width: 1120px) {
    .hero_section_wrapper .swiper.mySwiper {
        transform: translate(0%, 150%);
    }
}

@media only screen and (max-width: 991px) {
    .single_hero_slider .slider_title h2 {
        font-size: 35px;
    }

}

@media only screen and (max-width: 800px) {
    .hero_section_wrapper .swiper.mySwiper {
        width: 70%;
    }
}

@media only screen and (max-width: 767px) {
    /* .main-header-wrapper {
        flex-direction: column;
        gap: 10px;
    } */

    .hero_section_wrapper .swiper.mySwiper {
        position: unset !important;
        transform: translate(0%, 0%);
        margin: auto;
        margin-bottom: 60px;
    }

    .swiper-pagination {
        text-align: center !important;
        bottom: 30px !important;
    }

    /* .header_left {
        flex-direction: column;
        gap: 20px;
    } */

    .header_left .shopping_option ul li:nth-child(2):hover .shooping_overview {
        display: none;
        animation: none
    }

    .slider_img img {
        width: 55%;
    }

    .slider_content .slider_title {
        text-align: center;
    }

    .slider_content .slider_info {
        text-align: center;
    }

    .slider_content .slider_button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-pagination-bullet {
        width: 7px !important;
        height: 7px !important;
        background: var(--main-color) !important;
    }

    .slider_content {
        margin-top: 20px;
    }

}

@media only screen and (max-width: 668px) {
    .top-header-wrapper {
        flex-direction: column;
        gap: 10px;
    }


}

@media only screen and (max-width: 576px) {
    .single_hero_slider .slider_title h2 {
        font-size: 28px;
    }

    .tags_container a.single_tag {
        font-size: 13px;
        padding: 12px 0;
    }

    #hashTag_section .hashTag_section_wrapper .tags_title h3 {
        font-size: 20px;
    }
}